*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    margin: 10% 30%;
}

.image img{
    width: 37vw;
    height: auto; 
    

}
button{
    width: 37vw;
    height: 5vh;
    font-size: 2vmin;
    color: #fff;
    background: linear-gradient(90deg, rgba(234,57,57,1) 0%, rgba(155,255,0,1) 100%);
}


